# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.development
final_build_fix.cjs
fix_jsx_errors.cjs
fix_remaining_errors.cjs
fix_typescript_errors.js
judingCriteria.txt
QUIZZES_IMPLEMENTATION_TASKS.md
WD KANBAS QUIZZES PROJECT REQUIREMENTS.md
WD KANBAS QUIZZES PROJECT REQUIREMENTS.pdf
.env
.env.development
